html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Alex Brush', cursive;
  font-size: 3rem;
  line-height: 2rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8.5rem;
  text-align: center;
  background-color: white;
  color: #518E95;
  z-index: 999;
}

a {
  color: inherit;
}

.nav a {
  padding: 10px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.App {
 width: 100vw;
}

.main {
  display: flex;
  min-height: 100vh;
  padding-top: 8.5rem;
  position: relative;
  background: url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home {
  flex-grow: 1;
  max-width: 1000px;
  margin: auto;
  color: white;
  display: grid;
  grid-template-columns: 50% 50%;
}

.content-wrapper {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 25px;
  margin: 50px auto;
  align-self: center;
  width: 500px;
}

.photo {
  max-width: 80%;
  margin: 10%;
  border: 15px solid rgba(255, 255, 255, 0.9);
}

.right, .left {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.details {
  text-align: center;
  font-size: 1.85rem;
  background-color: rgba(255, 255, 255, 0.25);
  margin: 10%;
  padding: 25px;
  max-width: 80%;
  border: 10px solid rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 7px #955851;
  font-weight: 500;
}

.nav-icon, .nav-text {
  vertical-align: top;
  display: inline-block;
  margin: 0 3px;
}

.launch-icon {
  vertical-align: bottom;
  margin: 0 5px;
}

@media screen and (max-width: 768px) {
  .home {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
  }
  .details {
    font-size: 1.5rem;
  }
  .right {
    grid-row: 1;
  }
  .schedule {
    max-width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .nav {
    display: none;
  }
  .nav-icon {
    margin: 0 10px;
  }
  .content-wrapper {
    max-width: 350px;
  }
}

@media screen and (min-width: 499px) {
  .nav-mobile {
    display: none;
  }
}

.MuiStepIcon-root.Mui-active {
  color: #7BB1B7 !important;
}

.MuiStepIcon-root {
  color: rgba(58, 41, 37, 0.5) !important;
}

.step-content {
  font-size: 1rem;
  max-width: 400px;
}

.hotel {
  border-bottom: 1px solid #7BB1B7;
  padding-bottom: 25px;
  font-size: .85rem;
}

.hotel:last-child {
  border-bottom: 0;
}